body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7fafc;
}

#fixedDiv {
    position: fixed;
    top: 40%; /* Centraliza verticalmente */
    right: 10px; /* Alinha à direita com 10px de margem */
    transform: translateY(-50%); /* Ajusta a posição vertical para centralização perfeita */
    width: 350px; /* Largura da div */
    padding: 10px; /* Espaçamento interno */
    background-color: #f0f0f0; /* Cor de fundo */
    border: 1px solid #ccc; /* Borda */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* Centraliza o texto */
    border-radius: 8px; /* Cantos arredondados */
    z-index: 1000; /* Garante que a div fique acima de outros elementos */
}

header {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
}

.back-button:hover {
    opacity: 0.9;
}

.simulador-section, .status-section {
    margin-bottom: 30px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.btn:hover {
    opacity: 0.9;
}

.resultado {
    margin-top: 15px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.btn-detalhes {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

.btn-detalhes:hover {
    opacity: 0.9;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #343a40;
    color: white;
}
